body {
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    background-color: aliceblue;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* --------------------------------------------header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 0 2vh 3vw;
}

header a {
    text-decoration: none;
}

header i {
    font-size: 1.5rem;
}

header h1 {
    font-size: 1.2rem;
    font-weight: 500;
}

.icon-dots-horizontal-triple {
    color: #1DBEF9;
    background-color: white;
    padding: 1vh 2vw;
    border-radius: 2vw;
    box-shadow: 0 4px 3px 0 #e0e0e086;
}

/* ---------------------------------------------footer*/
footer {
    position: fixed;
    bottom: 0; 
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.3rem;
    padding: 3vh 0;
    background-color: white;
    width: 100vw;
    height: 8vh;
}